/* Add your css for footer */
.aswathy{
    background-color: crimson;
}

.socialmedia button{
    height: 40px;
    width: 40px;
    margin: 1px;
    border: solid 1px hsl(223, 100%, 88%);
    padding: 0; 
    border-radius: 50%;     
    background-color: white;
    color: hsl(223, 87%, 63%);
    transition: background-color 0.5s, color 0.5s;
}
.footer{
    margin-top: 2%;
}
.footer p{
    color:hsl(0, 0%, 59%);
    font-size: 15px;
}